<!doctype html>
<html>
<head>
  <title>A Compliment</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<div>
<body>
    Hi {{ person }}! I think you're {{ compliment }}!

    <form action="/game">
      Would you like to play a game?
      
      <input type="radio" name="answer" value="yes" id="yes">
      <label for="yes">Yes</label>
      
      <input type="radio" name="answer" value="no" id="no">
      <label for="no">No</label>
      <button type="submit" class="button">Submit</button>


    </form>
  </div>
</body>
</html>