<!doctype html>
<html>
<head>
  <title>Game</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<div class="game">
<body>

<h1>Let's have fun!</h1>

<form action="/madlib">

  <label for="person">Give me the name of a person:</label>
  <input type="text" name="person" id="person">
  
  <br><br>

  <label for="color">Give me your favorite color:</label>
  <input type="text" name="color" id="color">

  <br>
  <br>

  <label for="noun">Give me a noun:</label>
  <input type="text" name="noun" id="noun">

  <br><br>

  <label for="adjective">Give me an adjective:</label>
  <input type="text" name="adjective" id="adjective">
  
  <br>
  <br>
  
  Click on your favorite words:
  <br>
  <input type="checkbox" name="words" value="triangle">Triangle
  <input type="checkbox" name="words" value="purse">Purse
  <input type="checkbox" name="words" value="bandaid">Bandaid
  <input type="checkbox" name="words" value="chocolate">Chocolate
  <input type="checkbox" name="words" value="lasagna">Lasagna
  
  <br>
  <br>

  <button type="submit" class="button">Submit</button>
</form>

</body>
</div>
</html>